.card{
    width: 60%;
    min-width: 400px;
    background-color: white;
    margin: 20px auto 20px auto;
    padding-top: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    border-style: ridge;

}

.pic{
    width: 200px;
    height: auto;
  
    border-radius: 20px;

    border-spacing: 5px 5px;


}

.icon{
 
	width: 30px;
	height: auto;
	vertical-align: middle;
}
p{
	display: inline-block;
	padding: 10px;
	min-width: 360px;
}
.content{
	text-align: center;
  width: 100%;

}

body{
    background-color: lightsteelblue;
}
button{
   
    display: inline-block;
    height: 100px;
    background-color:steelblue;
    border-radius: 7px;
    border: none;
    margin: 5px 0 0 0;
    color: white;
    font-family: helvetica, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: medium;;
    opacity: 1;
    padding: 10px;
    max-width: 350px;
}

